@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background: url(bg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}
 h1 {
     color: #03045E;
 }
.container {
    margin-top: 20px;
}
.results {
    display: flex;
    justify-content: center;
    word-wrap: wrap;
}

img {
    width: 100%;
}

mark {
padding: 0;

}